.vscode
.idea
**/node_modules/*
**/.firebaserc
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/package-lock.json
**/node_modules/
functions/firebase-debug.log
functions/**/*.js
functions/**/*.js.map
